:root {
  --black: #1e1e1e;
  --white: #f3f3f3;

  --font-primary: 'Sora', sans-serif;
  --font-secondary: 'Rethink Sans', sans-serif;
  --sidePadding: 24px;
  --gap: 12px;
  --layoutSpacing: clamp(10vw, 20vw, 25vw);
  --containerHeight: clamp(30vw, 40vw, 50vw);
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 1920px;
  background-color: var(--white);
}

.bodyWrap {
  padding-left: var(--sidePadding);
  padding-right: var(--sidePadding);
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rethink Sans';
  src: url('/fonts/RethinkSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rethink Sans';
  src: url('/fonts/RethinkSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rethink Sans';
  src: url('/fonts/RethinkSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rethink Sans';
  src: url('/fonts/RethinkSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  color: var(--black);
  font-weight: 400;
}

h1 {
  font-size: clamp(3rem, 5vw, 4rem);
  font-weight: 400;
  letter-spacing: clamp(-2px, -0.3vw, -1px);
  text-transform: uppercase;
}

h2 {
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: clamp(-2px, -0.3vw, -1px);
  text-transform: uppercase;
}

p {
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  font-size: 0.875rem;
}

.plarge {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.pageLayout {
  display: flex;
  flex-direction: column;
  gap: var(--layoutSpacing);
}
