.section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: var(--gap);
  width: 100%;
}

@media (max-width: 768px) {
  .section {
    grid-template-columns: repeat(2, 1fr);
    --col: calc((100vw - (2 * var(--grid-padding)) - (1 * var(--gap))) / 2);
  }

  .section > * {
    grid-column: 1 / -1 !important;
  }
}