.section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: var(--gap);
  width: 100%;
}

@media (max-width: 768px) {
  .section {
    grid-template-columns: repeat(4, 1fr);
    --col: calc((100vw - (2 * var(--grid-padding)) - (3 * var(--gap))) / 4);
  }

}