.media {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  display: block;
  /* border: 1px solid red; */
}

.title {

}

.section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}

.heroContainer {
  min-height: 100svh;
  height: max(100svh, 90vw);
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: var(--sidePadding);
}