.mediaWrapper {
  position: relative;
  overflow: hidden;
  /* border: 1px solid blue; */
}

.mediaImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  display: block;
  /* will-change: transform; */
  /* border: 1px solid red; */
}