.mediaWrapper {
  position: relative;
  overflow: hidden;
  /* border: 1px solid blue; */
}

.mediaImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  /* border: 1px solid red; */
}